<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mad Libs</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="intro" class="index-div">
            <h1>Let's Play Mad Libs!</h1>
            <button id="cont" onclick="contClick()">Continue</button>
        </div>

    
        <div id="choose-story" class="index-div">
            <h1>Which story would you like to see?</h1>
            <span id="p-row">
                <button id="s1" onclick="s1Click()">Story1</button>
                <button id="s2" onclick="s2Click()">Story2</button>
                <button id="s3" onclick="s3Click()">Story3</button>
            </span>
            <button id="rand" onclick="randClick()">Choose for me!</button>
        </div>


        <form id="words" action="" method="post">

            <div id="choose-nouns" class="index-div">
                <h1>Choose 5 nouns</h1>
                <input id="n1" type="text" name="noun">
                <input id="n2" type="text" name="noun">
                <input id="n3" type="text" name="noun">
                <input id="n4" type="text" name="noun">
                <input id="n5" type="text" name="noun">
                <h1 id="sub-nouns" class="btn" onclick="nounClick()">Next!</h1>
            </div>


            <div id="choose-verbs" class="index-div">
                <h1>Choose 3 verbs</h1>
                <input id="v1" type="text" name="verb">
                <input id="v2" type="text" name="verb">
                <input id="v3" type="text" name="verb">
                <h1 id="sub-verbs" class="btn" onclick="verbClick()">Next!</h1>
            </div>


            <div id="choose-adj" class="index-div">
                <h1>Choose 4 adjuctives</h1>
                <input id="a1" type="text" name="adj">
                <input id="a2" type="text" name="adj">
                <input id="a3" type="text" name="adj">
                <input id="a4" type="text" name="adj">
                <h1 id="sub-adj" class="btn" onclick="adjClick()">Next!</h1>
            </div>


            <div id="fin" class="index-div">
                <h1>All Done!</h1>
                <input id="sub" type="submit" value="submit">
            </div>
        </form>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript">
        load();

        function load(){
            $('#intro').show();
            $('#choose-story').hide();
            $('#choose-nouns').hide();
            $('#choose-verbs').hide();
            $('#choose-adj').hide();
            $('#fin').hide();
        }

        function contClick() {
            $('#choose-story').show();
            $('#intro').hide();
        }
       
        function s1Click() {
            $('#words').attr('action', '/story1');
            $('#choose-story').hide();
            $('#choose-nouns').show();
        }
 
        function s2Click() {
            $('#words').attr('action', '/story2');
            $('#choose-story').hide();
            $('#choose-nouns').show();
        }
 
        function s3Click() {
            $('#words').attr('action', '/story3');
            $('#choose-story').hide();
            $('#choose-nouns').show();
        }
 
        function randClick() {
            rand = Math.floor(Math.random() * 3) + 1;
            choice = '/story'+num;
            $('#words').attr('action', choice);
            $('#choose-story').hide();
            $('#choose-nouns').show();
        }
 
        function nounClick() {
            $('#choose-nouns').hide();
            $('#choose-verbs').show();
        }
 
        function verbClick() {
            $('#choose-verbs').hide();
            $('#choose-adj').show();
        }
 
        function adjClick() {
            $('#choose-adj').hide();
            $('#fin').show();
        }

    </script>
    
    </body>
</html>