.hide{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}

body{
    background-color: rgb(215, 215, 132);
}

#story1 {
    height: fit-content;
    width: 60vw;
    background-color: black;
    color:aliceblue;
    margin: auto;
}

#story2 {
    height: fit-content;
    width: 60vw;
    background-color: rgb(196, 190, 24);
    color:rgb(0, 0, 0);
    margin:auto;
}

#story3 {
    height: fit-content;
    width: 60vw;
    background-color: rgb(153, 106, 197);
    color:rgb(10, 37, 61);
    margin: auto;
}

/* .index-div{

}

#intro{

}

#choose-story{

}

#choose-nouns{

}

#choose-verbs{

}

#choose-adj{

}

#fin{

}

#button-row{

} */

.usersWords{
    font-weight: bold;
}